body {
  font-family: "Inter", sans-serif;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.3em;
  color: #172b4d;
}

/* Header */

header {
  background-image: url("./img/desktop/Header-llustration-desktop.svg");
  height: 1150px;
  background-repeat: no-repeat;
}

.nav-link {
  color: #172b4d;
  font-size: 0, 9375em;
}

h1 {
  font-size: 3em;
  line-height: 1.25em;
  color: #172b4d;
}

h1 > span {
  color: #36b37e;
}

.pt-3 {
  margin-top: 200px;
}

.headline {
  width: 63.88%;
}

.headline p,
.about p {
  font-size: 1.25rem;
  line-height: 1.6em;
  padding-top: 20px;
}

.headline ul {
  display: flex;
}

.headline .arrow-down {
  display: flex;
}

/* End Header */

/* Project Section */
.project .title {
  padding-bottom: 52px;
}

.card-img-top {
  height: 252px;
  object-fit: cover;
}

.card-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.3em;
  color: #172b4d;
}

.project ul li {
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.3em;
  letter-spacing: 0.03em;
  color: #172b4d;
  background: #ebf0ee;
  border-radius: 4px;
}

.project .btn.btn-primary,
.about .btn.btn-primary {
  background: #36b37f;
  border-color: #36b37f;
  border-radius: 4px;
}

/* End Project Section */

/* About section */
.about {
  padding-top: 192px;
  background-image:
    url(img/desktop/bg_img_one.svg),
    url(img/desktop/bg_img_two.svg);
  background-repeat: no-repeat;
  background-position: right 10%, left 35%;
}

.about .container {
  display: flex;
  flex-direction: column;
}

.about-description {
  width: 63.88%;
}

.about .btn.btn-primary {
  width: 20%;
  display: inline-block;
  margin-left: 40%;
}

.about .skills-wrapper .card {
  background: #ebf0ee;
}

.about .skills-wrapper li {
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.3em;
  letter-spacing: 0.03em;
  color: #36b37e;
  background-color: #fff;
}

/* End About section */
.contact p {
    font-family: "Inter", sans-serif;
    font-size: 30px; 
    line-height: 52px;
    color: #172B4D;
    width: 463px;
    height: 256px;
    font-weight: 700;
}

.form-row {
    display: flex;
}

.